/* font-family: 'Cinzel', serif;
font-family: 'Nunito Sans', sans-serif; */

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;  
}

.thankyou {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    margin: auto;
    max-width: 1200px;
}

/* .thanks {
    grid-column: 2 / span 2;
} */




.select {
    text-align: center;
    font-size: 1.2rem;
}

.cards {
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 8.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    margin: auto;
    transition: 0.3s;
    width: 95%;
    background-color: black;
    border-radius: 3% 3%;
  }
  
  .card:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5);
  }

  .card img {
      border-bottom: 3px solid white;
  }
  
  .container {
    /* padding: 0% 0% 8% 0%; */
    color: white;
    text-align: center;
    height: 130px;
  }

  .container h4 {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
  }

  .card .container button {
      width: 90%;
      height: 50px;

      /* padding: .25rem .5rem; */
      outline: none;
      border: none;
      background-color: white;
      border-radius: 5px;
      font-size: 1rem;
      color: black;
  }

  .card .container button:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}



.back {
    margin-left: 2rem;
}

.back a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.back a:hover {
    color: red;
}



.dropdown {
    margin: auto;
    text-align: center;
}

.dropdown h2, .moreStats h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
}

#chapterlist {
 margin: 0 auto;
 text-align: center;
 line-height: 1rem;
 font-size: 1rem;
 padding: 10px 0;
 width: 300px;
}



.character {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: .5rem auto .8rem auto;
    justify-content: center;
}

#chapterInfo {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 12% 42% 42%;
    padding: 3%;
}

.charImg {
    width: 100%;
    height: 100%;
}
.charImg img {
    /* width: 100%; */
    height: 100%;
    margin: 0;
    padding: 0;
}

.charName h4 {
    margin:0;
    text-align: center;
    font-weight: 500;
}


#chapterInfo img {width: 75%; margin: auto 0;}


label {margin: auto 0; width: auto; font-size: 1rem; text-align: left; line-height: 1rem;}
#chapterInfo h4 {width: auto 0; border: none; margin: auto 0; font-size: 1rem; line-height: 1rem; text-align: right; font-weight: normal;}



.moreStats {
    margin: 1rem auto;
}
.moreStats h2 {
    margin: 0;
}

.abilities{
    border-collapse: collapse;
    width: 610px;
    margin: auto;
  }


  
  .abilities .percent, .abilities .level {
      text-align: right;
  }

  .abilities th, .abilities td {
      padding: 2%;
  }


  
  .abilities tr {background-color: #0A4B85; color: white; border: 2px solid black; border-bottom: 2px solid white;}
  
  .abilities tr:last-child {border-bottom: 2px solid black;}
  .abilities tr:hover {background-color: #ddd; color: black;}
  
  .abilities .header {
    border: 2px solid black;
    }

  .abilities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: black;
  }

 
  .abilities tr {width: 233px;}


  


/* @media screen and (max-width: 640px) { */
@media screen and (max-width: 650px) {

.wrapper {
    width: 100%;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    border-bottom: gray 2px solid;
}

.open {
    color: #8b8b8b;
    font-size: 30px;
    float: right;
    margin: 1rem;
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

.open:hover {
    color: black;
    
}

.nav {
    width: 0;
    overflow-x: hidden;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: white;
    font-family: 'Cinzel', serif;
    display: block;
    text-align: center;
}

.nav a {
    clear: left;
    color: black;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

.nav a:not(:first-child):hover {
    background-color: red;
    color: white;
}

.close {
    color: black;
    font-size: 30px;
    float: right;
    margin-right: 1rem;
    display: block;
    cursor: pointer;
    padding-top: 0rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

.nav-list {
    list-style-type: none;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    font-size: 1.5rem;
}

.nav-phoenix {
    width: 120px;
    float: left;
    margin-left: 2rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-phoenix:hover {
    background-color: transparent;
}

.nav-item {
    padding: 1rem 0;
    border-top: 1px solid black;
}

.nav-item-last {
    border-bottom: 1px solid black
}


.mobile-hero-img {
    width: 100%;
}

.tablet-hero-img {
    display: none;
}

.hero {
    position: relative;
    color: white;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-text {
    position: absolute;
    top: 25%;
    right: 8%;
}

.buy-btn {
    padding: .25rem .5rem;
    border: white solid 1px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}

.buy-btn:hover {
    background-color: rgba(255, 255, 255, 0.329);
    cursor: pointer;
}

.hero-img {
    display: none;
}
.hero-img-large {
    display: none;
}


.home-books {
    padding: 2rem;
    font-size: 1rem;
}

.book-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.author-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.home-h1 {
    font-family: 'Cinzel', serif;
    color: red;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 0.3rem;
}

.home-books img {
    width: 100%;
}

.about-books {
    width: 100%;
    display: block;
}

.about-books-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-books img {
    width: 100%;
}

.tablet-about-books {
    display: none;
}

.learn-btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.learn-btn {
    padding: .75rem;
    border: red solid 1px;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
}

.learn-btn:hover {
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem;
}

.footer-icons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

i {
    color: white;
}

.footer-icons i p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}

.copyright {
    text-align: center;
}



/* FAN ART PAGE */
.thankyou {
    /* width: 95%; */
    padding: 0% 6%;
    margin: auto;
}
.thanks {
    /* grid-column: 1 / span 4; */
    width: 100%;
}

.gallery {
    padding: 1%;
    /* border: blue 2px solid; */
}

.slider-for{
	width: 100%;
	height: auto;
    max-height: auto;

    /* width: 300px;
	height: 216px;
    max-height: auto; */

	margin: 0 auto;
	overflow: hidden;
	border: none;
	/* border-width: 15px; */
	/* border-radius: 10px 10px 10px 10px; */
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16);  */
	/* -webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16); */
}
img{
	/* width: 100%;
	max-height: auto; */
    width: 100%;
	max-height: auto;
}
.slider-nav{
	/* width: 80%; */
	/* width: 80%; */
    width: 85%;
	margin: auto;
	padding: 0px 20px 0px 20px;
	display: block;
    opacity: .7; 
}




/* Gallery */
/* .slider-for{ */
    /* width: 310px;
    max-height: 220px; */
/* 
    width: 100%;
    height: auto;
    max-height: 20%;
	margin: 0 auto;
	overflow: hidden;
	border: none;
	border-radius: 0px 0px 0px 0px; */
    /* box-shadow: none; */
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* opacity: .7;  */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16); 
	-webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16);
}
img{
	width: 100%;
    height: auto; */
	/* max-height: 800px; */
/* } */
/* .slider-nav{
	width: 80%;
    width: 310px;

	margin: auto;
	padding: 0px 20px 0px 20px;
	display: block;
    opacity: .7; 
} */






.cards {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-row-gap: 20px; */
    padding: 2% 0;
}

.card {margin: auto; margin-bottom: 20px;}


}








/* @media screen and (min-width: 641px) { */
    @media screen and (min-width: 651px) {
    
.wrapper {
    width: 100%;
    z-index: 100;
    background-color: white;
    overflow: hidden;
    border-bottom: gray 2px solid;
}

.nav-logo {
    display: none;
}

.close {
    display: none;
}

.open {
    display: none;
}

.nav {
    display: block;
    float: right;
    /* padding-top: 4rem; */

    padding: 2rem 0;

    padding-right: 1rem;
}

.nav-item {
    color: black;
    text-decoration: none;
    /* font-size: 1.5rem; */

    font-size: 1rem;

    padding: 0 0.5rem;
    text-transform: uppercase;
}

.nav-item:hover {
    color: red;
}

.nav-item.active {
    color: red;
}

.nav-phoenix {
    position: relative;
    width: 160px;
    /* padding: .5rem 2rem; */
    padding: .6rem 2rem;
}

.hero {
    width: 100%;
}

.hero-text {
    position: absolute;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    margin: 0;
    /* top: 30%; */
    top: 20%;
    right: 10%;
    text-align: center;
}


.buy-btn {
    padding: .5rem 1rem;
    border: white solid 1px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
}

.margin-0 {
    margin-top: 0;
    margin: 0;
}

.buy-btn:hover {
    background-color: rgba(255, 255, 255, 0.329);
    cursor: pointer;
}

.hero-img-div {
    width: 100%;
}

.mobile-hero-img {
    display: none;
}

.tablet-hero-img {
    display: block;
    width: 100%;
}

.hero-img {
    display: none;
}



.home-books {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.home-books img {
    width: 33%;
    height: 33%;
}

.home-books-tablet img {
    width: 100%;
    height: 100%;
}

.home-book-img {
    width: 100rem;
}

.book-img {
    width: 75rem;
    padding: 3rem;
}

.author-img {
    width: 200rem;
    padding: 3rem;
}

.home-h1 {
    font-family: 'Cinzel', serif;
    color: red;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

.book-description-btn {
    padding: 3rem;
}

.home-books img {
    width: 100%;
}

.about-books {
    width: 100%;
    display: block;
}

.about-books-img {
    /* width: 50%; */
    width: 90%;
    width: 50%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0rem;
    margin: auto;
    /* border: 1px solid red; */

}

.about-books img {
    /* width: 33%; */
    width: 100%;
    /* height: auto; */
    margin: auto;
    /* width: 200px; */
    /* border: 1px solid red; */
}


.mobile-about-books {
    display: none;
}

.learn-btn-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.learn-btn {
    padding: .75rem;
    border: red solid 1px;
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    margin: 1rem 0;
}

.learn-btn:hover {
    background-color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem 10rem;
}

.footer-icons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

i {
    color: white;
}

.footer-icons i p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}

.copyright {
    text-align: center;
}



/* FAN ART PAGE */
.thankyou {
    width: 620px;
    margin: auto;
}


/* Gallery */
.gallery {
    padding: 2%;
    /* border: purple 2px solid; */
}

.slider-for{
	/* width: 700px;
	height: 500px; */
    width: 620px;
    /* height: 446px; */
    height: 450px;
    /* max-height: 800px; */
	margin: 0 auto;
	overflow: hidden;
	border: none;
	/* border-width: 15px; */
	/* border-radius: 10px 10px 0px 0px; */
	border-radius: 0px 0px 0px 0px;
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* opacity: .7;  */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16);  */
	/* -webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16); */
}
img{
	width: 100%;
	max-height: 800px;
}
.slider-nav{
	/* width: 650px; */
	width: 600px;
	margin: auto;
	padding: 0px 50px 0px 50px;
	display: block;
    opacity: .7; 
}


.hero-img-large {
    display: none;
}

}





@media screen and (min-width: 850px) {
.hero-text {
    font-size: 3.25rem;
    /* top: 15%; */
}


.hero-text {
    top: 25%;
}

/* FAN ART PAGE */
.thankyou {
	width: 800px;
    margin: auto;
}
/* .thanks {
    grid-column: 2 / span 2;
} */

/* Gallery */
.gallery {
    padding: 2%;
    /* border: red 2px solid; */
}

.slider-for{
	width: 800px;
	/* height: 576px; */
	height: 580px;
    /* max-height: 800px; */
	margin: 0 auto;
	overflow: hidden;
	border: none;
	/* border-width: 15px; */
	/* border-radius: 10px 10px 0px 0px; */
	border-radius: 0px 0px 0px 0px;
    box-shadow: none;
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* opacity: .7;  */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16);  */
	/* -webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16); */
}
img{
	width: 100%;
	max-height: 800px;
}
.slider-nav{
	/* width: 750px; */
	width: 780px;
	margin: auto;
	padding: 0px 50px 0px 50px;
	display: block;
    opacity: .7; 
}



.hero-img-large {
    display: none;
}
}







@media screen and (min-width: 1201px) {
/* @media screen and (max-width: 1399px) { */

.nav-phoenix {
    width: 200px;
    padding: .6rem 2rem;
    /* margin-top: .5rem; */
}

.nav {
    padding: 2.5rem 2rem;
}

.home-books {
    align-items: center;
}

/* .tablet-hero-img {
    display: none;
}

.hero-img {
    display: block;
    width: 100%;
}


.hero-text {
    position: absolute;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 4rem; */
    /* top: 20%; */
    /* right: 15%;
    text-align: center;
}

.hero-text {
    top: 25%;
} */


.book-img {
    padding: 5rem;
}

.book-description-btn {
    align-self: flex-start;
    font-size: 1.2rem;
    padding-top: 5rem;
    padding-right: 5rem;
}

.buy-btn {
    padding: .75rem 1.25rem;
    border: white solid 1px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
}

.buy-btn:hover {
    background-color: rgba(255, 255, 255, 0.329);
}


.hero-img-large {
    display: none;
}
/* .about-books {
    width: 100%;
    width: 50%;
    margin: auto;
    display: block;
} */

/* .about-books-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
} */

/* .about-books img {
    width: 33%;
    width: 200px;
    border: none;
} */




    footer {
    padding: 1rem 20rem;
}


/* FAN ART PAGE */
.thankyou {
	width: 800px;
}
/* .thanks {
    grid-column: 2 / span 2;
} */

/* Gallery */
.gallery {
    padding: 2%;
}

.slider-for{
	width: 800px;
	/* height: 576px; */
	height: 580px;
    /* max-height: 800px; */
	margin: 0 auto;
	overflow: hidden;
	border: none;
	/* border-width: 15px; */
	/* border-radius: 10px 10px 0px 0px; */
	border-radius: 0px 0px 0px 0px;
    box-shadow: none;
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* opacity: .7;  */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16);  */
	/* -webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16); */
}
img{
	width: 100%;
	max-height: 800px;
}
.slider-nav{
	/* width: 750px; */
    width: 780px;
	margin: auto;
	padding: 0px 50px 0px 50px;
	display: block;
    opacity: .7; 
}






.hero-img-large {
    display: none;
}

.tablet-hero-img {
    display: none;
}

/* .hero {
    max-width: 1700px;
    max-width: 1600px;
    width: 4000px;
    margin: auto;
} */
.hero-img {
    display: block;
    width: 100%;
}


.hero-text {
    position: absolute;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    top: 48%;
    left: 7%;
    text-align: center;
    width: 500px;
}

}
/* } */






@media screen and (min-width: 1600px) {
    /* @media screen and (max-width: 1650px) { */

/* .hero-text {
    font-size: 5rem;
    top: 35%;
} */

/* Gallery */
.gallery {
    padding: 2%;
}


.slider-for{
	width: 800px;
	/* height: 576px; */
	height: 580px;
   
	margin: 0 auto;
	overflow: hidden;
	border: none;
	/* border-width: 15px; */
	/* border-radius: 10px 10px 0px 0px; */
	border-radius: 0px 0px 0px 0px;
    box-shadow: none;
	/* box-shadow: 0 5px 3px rgba(3,3,3,.16);	 */
	/* opacity: .7;  */
	/* -moz-box-shadow: 0 5px 3px rgba(3,3,3,.16); 
	-webkit-box-shadow: 0 5px 3px rgba(3,3,3,.16); */
}

img{
	width: 100%;
	max-height: 800px;
}
.slider-nav{
	/* width: 750px; */
    width: 800px;
	margin: auto;
	padding: 0px 20px 0px 20px;
	display: block;
    opacity: .7; 
}


/* .hero {
    max-width: 4000px;
} */

.tablet-hero-img {
    display: none;
}

.hero-img {
    /* display: block;
    width: 100%;
    max-width: 1500px;
    margin: auto; */
    display: none;
}

.hero-img-div {
    background-image: url("../gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img-large {
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}


.hero-text {
    position: absolute;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 4rem;
    top: 50%;
    left: 7%;
    text-align: center;
    width: 500px;
}

}
/* } */








#rise-title {
    color: #3C64C3;
    margin-bottom: 0.3rem;
}

.seriesDivider {
    margin: 2rem 0 7rem 0;
    padding: 0;
    border: 2px solid rgb(185, 185, 185);
}

.landingSection {
    padding: 3rem 0;
    background-color: rgb(241, 241, 241);
}

.home-h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #10718A;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    /* padding: 1rem; */
    /* margin: 0; */
}


